* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Cairo", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #012340;
}
/******************************************/

.container {
    background-image: url("../img/Certificate Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 10rem 4rem 11rem 1rem;
    max-width: 100rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}
.heading-primary {
    font-size: 4.4rem;
    font-weight: 800;
}
.quiz-name {
    font-size: 3rem;
    font-weight: 500;
}

.certificate-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.certificate-mask, .certificate-photo {
    max-width: 14rem;
}
.certificate-logo {
    max-width: 22rem;
}

.quiz-description {
    font-size: 3.6rem;
    font-weight: 400;
}

.winner-name {
    font-family: "Felipa", sans-serif;
    font-size: 5.2rem;
    letter-spacing: 0.4rem;
    color: #f76707;
}

.quiz-date {
    font-size: 3.6rem;
    font-weight: 400;
}

.certificate-final-words {
    font-size: 3.6rem;
    font-weight: 700;
}

.certificate-footer{
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 9.6rem;
}

.certificate-icon{
    max-width: 10.5rem;
}

.certificate-date{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
}

